<html>
	<head>
		<title>no_layout</title>
	</head>
	<body>
		<h2>外部テンプレート(no_layout)</h2>
		<p>これは外部テンプレートからの出力です。</p>
		<p>こちらではlayoutを無視しています。</p>
		<p>ブラウザの「戻る」でもどってください。</p>
		<p>BASE: <?= $hopen_setting->{base_uri} ?></p>
		<p>BASE_DIR: <?= $hopen_setting->{base_dir} ?></p>
		<p>TEMPLATE_DIR: <?= $hopen_setting->{template}->{include_path} ?></p>
	</body>
</html>